<main class="main">
  <div class="content">
    <h1 class="title">ProjManagFront</h1>
    <div class="newProject">
      <button>Novo Projeto</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Members</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Projeto 1</td>
          <td>Um projeto Legal</td>
          <td>28/01/2024</td>
          <td>03/02/2024</td>
          <td>Enick</td>
          <td><a href="#">remover</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Projeto 2</td>
          <td>Outro projeto Legal</td>
          <td>28/01/2024</td>
          <td>03/02/2024</td>
          <td>Enick</td>
          <td><a href="#">remover</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Projeto 3</td>
          <td>Outro projeto Legal</td>
          <td>28/01/2024</td>
          <td>03/02/2024</td>
          <td>Enick</td>
          <td><a href="#">remover</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Projeto 4</td>
          <td>Outro projeto Legal</td>
          <td>28/01/2024</td>
          <td>03/02/2024</td>
          <td>Enick</td>
          <td><a href="#">remover</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<router-outlet />
