<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Members</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(project of project; track project.id){
    <tr>
      <td>{{ project.id }}</td>
      <td>{{ project.name }}</td>
      <td>{{ project.description }}</td>
      <td>{{ project.startDate }}</td>
      <td>{{ project.endDate }}</td>
      <td>{{ project.members.name }}</td>
      <td><button (click)="deleteProject(project.id)" >remover</button></td>
    </tr>
    }
  </tbody>
</table>
